@keyframes moveInUp {
    0% {
      transform: translateY(3rem);
      opacity: 0;
    }

    50% {
        transform: translateY(1rem);
        opacity: .4;
    }
    
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  @keyframes spiralanima {
    
  }

  @keyframes moveleft {
    0% {
      transform: translate3d(0,0,0);
    }

    100% {
      transform: translate3d(-100%, 0, 0);
    }
  }

  @keyframes moveafter {
    0% {
      top:100%;
      left:100%;
    }
    50% {
      top:-100%;
      left:-100%;
    }
    100% {
      top:-100%;
      left:-100%;
    }
  }

  @keyframes pulse {
    0% {
      transform: scale(.8);
    }

    50% {
      transform: scale(1);
    }

    100% {
      transform: scale(.8);
    }
  }